body{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
}

a {
    font-size: 28px;
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.top-section {
    background-color: #1F2937;
    color: #F9FAF8
}

.header {
    display: flex;
    font-size: 24px;
}

.header-links {
    margin-left: auto
}

.title-section {
    display: flex;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.title-description {
    color: #E5E7EB;
    font-size: 18px;
}

.body-one {
    display: flex;
    flex-direction: column;
}

.tiles {
    display: flex;
}

.tile {
    display: flex;
    flex-direction: column;
}

.body-two {
    display: flex;
    flex-direction: column;
}

.quote-author {
    margin-left: auto;
}

.signup-box {
    display: flex;
}

.action {
    display: flex;
    flex-direction: column;
}

.signup-bottom {
    margin-left: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
